body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.btn {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}